spring:
  messages:
    basename: messages
    encoding: UTF-8
    
  application:
    name: nrgyrent
    version: 0.1.0
  liquibase:
    # https://contribute.liquibase.com/extensions-integrations/directory/integration-docs/springboot/configuration/
    change-log: classpath:db/changelog/changelog-root.xml
    drop-first: false
    parameters:
      defaultBalanceDailyLimit: 200000000

      defaultRefProgramId: 0
      defaultRefProgramLabel: '5%'
      defaultRefProgramPercentage: 5

      defaultTariffId: 1
      defaultTariffLabel: Стандартный
      txType1Amount: 5500000
      txType2Amount: 8600000
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    #    hibernate:
    #      # ddl-auto: create-drop
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        generate_statistics: false
  kafka:
    bootstrap-servers: ${KAFKA_SERVERS:localhost:9094}
    consumer:
      group-id: tg_app_group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # Alternative for JSON deserialization:
      # value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: latest  # or 'latest'
      enable-auto-commit: false  # For manual acknowledgment
      max-poll-records: 500
      properties:
        reconnect:
          backoff:
            max:
              ms: 30000
        heartbeat:
          interval:
            ms: 10000

app:
  bybit:
    url-testnet: https://api-testnet.bybit.com
    url-mainnet: https://api.bybit.com
    api-key: ${APP_BYBIT_API_KEY}
    api-secret: ${APP_BYBIT_API_SECRET}
    recv-window: 5000
    usdt-deposit-address: ${APP_BYBIT_USDT_DEP_WALLET:THfnc8XaHUSaEZRPmGLP7qQCS8xn2EWVSE}
  alerts:
    itrx-balance:
      interval: ${APP_ITRX_BALANCE_ALERT_INTERVAL:180} # seconds
      threashold : ${APP_ITRX_BALANCE_THRESHOLD:800000000} # 800 TRX
  fullnode:
    http-api-url: ${APP_FULLNODE_HTTPAPI_URL:http://homelab.lan:8090}
    zero-mq-url: ${APP_FULLNODE_ZMQ_URL:tcp://homelab.lan:5555}
  bot:
    username: ${APP_BOT_USERNAME:tron_energy_rent_dev_bot}
  sweeping:
    min-amount-sun: 10000
  rounding:
    scale: ${APP_ROUNDING_SCALE:3}
  pagination:
      ref-programs:
        page-size: ${APP_REF_PROGRAMS_PAGE_SIZE:20}
      users:
        page-size: ${APP_USERS_PAGE_SIZE:20}
      groups:
        page-size: ${APP_GRP_PAGE_SIZE:20}
      tariffs:
        page-size: ${APP_TARIFS_PAGE_SIZE:20}
  wallet:
    sweeping:
      ensure-count: ${APP_SWEEP_WALLETS_COUNT:1}
    encryption:
      keyBase64: ${APP_WALLET_ENCRYPTION_KEY_BASE64:de3AP3DtOeBDXXijf3PmLhrJ1kobB1XLP5poYc3qrkc=}
  cron:
    tron:
      transaction:
        enabled: true
  mapdb:
    db-path: ${APP_MAPDB_PATH:cache/nrgyrent.db}
  itrx:
    auto-delegation-threshold: ${APP_ITRX_AUTO_DELEGATION_THRESHOLD:3900000} # 3.9 TRX
    base-url: ${APP_ITRX_BASE_URL:"https://nile.itrx.io"} # For mainnet, use https://api.itrx.io
    callback-url: ${APP_ITRX_CALLBACK_URL}
    key: ${APP_ITRX_API_KEY}
    secret: ${APP_ITRX_API_SECRET}
  catfee:
    base-url: ${APP_CATFEE_BASE_URL:"https://nile.catfee.io"} # For mainnet, use https://api.catfee.io
    key: ${APP_CATFEE_API_KEY}
    secret: ${APP_CATFEE_API_SECRET}
  trongrid:
    qps: 14
    base-url: ${APP_TRONGRID_URL:https://nile.trongrid.io} # For mainnet, use https://api.trongrid.io
    api-key: ${APP_TRONGRID_API_KEY}
    usdt-address: ${APP_USDT_ADDRESS:TXYZopYRdj2D9XRtbG411XZZ3kM5VkAeBf} # TXYZopYRdj2D9XRtbG411XZZ3kM5VkAeBf - nile USDT address
  telegram:
    bot:
      token: ${TELEGRAM_BOT_TOKEN}

logging:
#  structured:
#    format:
#      console: ecs
#      file: ecs
  file:
    name: ${LOGS_FOLDER:./logs}/app.log
  logback:
    rollingpolicy:
      file-name-pattern: ./logs/%d{yyyy-MM-dd}.%i.log
      max-file-size: 10MB
      max-history: 7

management:
  metrics:
    tags:
      application: ${spring.application.name}
      instance: ${HOSTNAME:unknown}
  endpoints:
    web:
      exposure:
        include: prometheus, health
      discovery:
        enabled: true
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true