spring:
  application:
    name: nrgyrent-utils
    version: 0.1.0
app:
  bybit:
    url-testnet: https://api-testnet.bybit.com
    url-mainnet: https://api.bybit.com
    api-key: ${APP_BYBIT_API_KEY}
    api-secret: ${APP_BYBIT_API_SECRET}
    recv-window: 5000
    usdt-deposit-address: ${APP_BYBIT_USDT_DEP_WALLET:THfnc8XaHUSaEZRPmGLP7qQCS8xn2EWVSE}
logging:
#  structured:
#    format:
#      console: ecs
#      file: ecs
  file:
    name: ${LOGS_FOLDER:./logs}/app.log
  logback:
    rollingpolicy:
      file-name-pattern: ./logs/%d{yyyy-MM-dd}.%i.log
      max-file-size: 10MB
      max-history: 7
