services:
  postgres:
    extends:
      file: docker-compose-base.yaml
      service: postgresservice
    ports:
      - "5432:5432"
  
  # metabase-db-init:
  #   extends:
  #     file: docker-compose-base.yaml
  #     service: postgresservice
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #       required: true
  #   environment:
  #     - PGPASSWORD=postgres
  #   command: /usr/bin/psql -w -h "$POSTGRES_DB_HOST" -U "$POSTGRES_USER" -lqt | cut -d \| -f 1 | grep -qw metabaseappdb || /usr/bin/psql -w -h "$POSTGRES_DB_HOST" -U "$POSTGRES_USER" -c 'CREATE DATABASE metabaseappdb'

  # metabase:
  #   image: metabase/metabase:latest
  #   hostname: metabase
  #   depends_on:
  #     metabase-db-init:
  #       condition: service_completed_successfully
  #       required: true
  #   volumes:
  #     - /dev/urandom:/dev/random:ro
  #   ports:
  #     - 3000:3000
  #   environment:
  #     MB_DB_TYPE: postgres
  #     MB_DB_DBNAME: metabaseappdb
  #     MB_DB_HOST: $POSTGRES_DB_HOST
  #     MB_DB_PORT: $POSTGRES_DB_PORT
  #     MB_DB_USER: $POSTGRES_USER
  #     MB_DB_PASS: $POSTGRES_PASSWORD
  #   healthcheck:
  #     test: curl --fail -I http://localhost:3000/api/health || exit 1
  #     interval: 15s
  #     timeout: 5s
  #     retries: 5

volumes:
  energy_rent_postgres: { }