services:
  app:
    extends:
      file: docker-compose-base.yaml
      service: appservice
    restart: unless-stopped
    ports:
      - 8080:8080

  postgres:
    restart: unless-stopped
    extends:
      file: docker-compose-base.yaml
      service: postgresservice

  db_backup_cron:
    extends:
      file: docker-compose-base.yaml
      service: db_backup_cron_service
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
        required: true

  metabase-db-init:
    extends:
      file: docker-compose-base.yaml
      service: metabase-db-initservice
    depends_on:
      postgres:
        condition: service_healthy
        required: true
  
  metabase:
    extends:
      file: docker-compose-base.yaml
      service: metabaseservice
    depends_on:
      metabase-db-init:
        condition: service_completed_successfully
        required: true
volumes:
  energy_rent_postgres: { }