services:
  app:
    extends:
      file: docker-compose-base.yaml
      service: appservice
    restart: unless-stopped
    ports:
      - 8080:8080

  postgres:
    extends:
      file: docker-compose-base.yaml
      service: postgresservice
    ports:
      - "5432:5432"
  
volumes:
  energy_rent_postgres: { }