services:
  utils:
    extends:
      file: docker-compose-base.yaml
      service: utilsservice
    entrypoint:
      - java
      - -jar
      - application.jar
      - showintertrans

  postgres:
    extends:
      file: docker-compose-base.yaml
      service: postgresservice
    ports:
      - "5432:5432"
volumes:
  energy_rent_postgres: { }