services:
  appservice:
    build:
      context: .
      dockerfile: Dockerfile
    image: energy-rent
    volumes:
      - ./cache:/cache
    environment:
      - POSTGRES_URL
      - POSTGRES_DB_HOST
      - POSTGRES_DB_PORT
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD

      - APP_MAPDB_PATH=/cache/nrgyrent.db

      - APP_BOT_USERNAME

      - APP_ITRX_API_KEY
      - APP_ITRX_API_SECRET
      - APP_ITRX_BASE_URL
      - APP_ITRX_CALLBACK_URL

      - APP_TRONGRID_URL
      - APP_TRONGRID_API_KEY

      - APP_FULLNODE_HTTPAPI_URL
      - APP_FULLNODE_ZMQ_URL

      - APP_SWEEP_WALLETS_COUNT

      - APP_WALLET_ENCRYPTION_KEY_BASE64

      - TELEGRAM_BOT_TOKEN


  postgresservice:
    image: postgres:16.0
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "db_prod"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - energy_rent_postgres:/var/lib/postgresql/data


  db_backup_cron_service:
    image: rent_energy_bot_backup
    build: database/backup_img
    depends_on:
      - postgres
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB_HOST
      - POSTGRES_DB_PORT

      - BACKUP_SCHEDULE
      - B2_BUCKET_NAME
      - B2_APPLICATION_KEY_ID
      - B2_APPLICATION_KEY

  metabase-db-initservice:
    image: 'metabase-db-init'
    build:
      context: ./database/metabase/
    depends_on:
      postgres:
        condition: service_healthy
        required: true
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_DB_HOST: $POSTGRES_DB_HOST
      PGPASSWORD: $POSTGRES_PASSWORD
      MB_PG_USER: $MB_PG_USER
      MB_PG_PASSWORD: $MB_PG_PASSWORD

  metabaseservice:
    image: metabase/metabase:latest
    hostname: metabase
    depends_on:
      metabase-db-init:
        condition: service_completed_successfully
        required: true
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - 3000:3000
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_HOST: $POSTGRES_DB_HOST
      MB_DB_PORT: $POSTGRES_DB_PORT
      MB_DB_USER: $MB_PG_USER
      MB_DB_PASS: $MB_PG_PASSWORD
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5

volumes:
  energy_rent_postgres: { }