services:
  appservice:
    build:
      context: .
      dockerfile: Dockerfile
    image: energy-rent
    volumes:
      - ./cache:/cache
    environment:
      - POSTGRES_URL
      - POSTGRES_DB_HOST
      - POSTGRES_DB_PORT
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD

      - TELEGRAM_BOT_TOKEN
      - APP_MAPDB_PATH=/cache/nrgyrent.db
      - APP_WALLET_ENCRYPTION_KEY_BASE64

      - APP_TRONGRID_URL

      - APP_ITRX_API_KEY
      - APP_ITRX_API_SECRET
      - APP_ITRX_BASE_URL
      - APP_ITRX_CALLBACK_URL
      - APP_TRON_URL

  postgresservice:
    image: postgres:16.0
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "db_prod"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - energy_rent_postgres:/var/lib/postgresql/data


  # db_backup_cron_service:
  #   image: tgb_postgres_backup
  #   build: database/backup_img
  #   depends_on:
  #     - postgres
  #   environment:
  #     - POSTGRES_USER
  #     - POSTGRES_PASSWORD
  #     - POSTGRES_URL

  #     - BACKUP_SCHEDULE=@daily
  #     - B2_BUCKET_NAME
  #     - B2_APPLICATION_KEY_ID
  #     - B2_APPLICATION_KEY

volumes:
  energy_rent_postgres: { }